body{
  background-color :aqua;
  text-align :center;
  background-image: url("/IMG/pong2.jpg");
}

canvas{
  border:solid;
  border-color: rgb(7, 7, 7);
  background-color: green;
 
}

h1{
  color:white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.301);
  
}

.boton_1{
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: helvetica;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
  color: #006505;
  background-color: #82b085;
  border-radius: 15px;
  border: 3px double #006505;
}
.boton_1:hover{
  opacity: 0.6;
  text-decoration: none;
}

